.App {
  text-align: center;
  font-size: large;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  padding-top: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-form {
  max-width: 400pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
}

.countries{
  width: 150pt;
}

input, select, label {
  display: flex;
  flex-direction: row;
  margin-top: 5pt;
  align-items: center;
  justify-content: center;
  font-size: large;
}

button {
  display: flex;
  flex-direction: row;
  margin-top: 10pt;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
